@model IEnumerable<TSP_Covid21.Models.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BREADCRUMB --><!--Đường dẫn-->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- <h3 class="breadcrumb-header">Checkout</h3> -->
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Home","Covid21")">Home</a></li>
                    <li><a href="#">Your cart</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="cart" style="width: 1700px;">

    <table class="cart-table">
        <tr>
            <th style="width: 100px"></th>
            <th>Image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Total</th>
        </tr>

        <!-- Product -->
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 100px">
                    <input type="checkbox" id="checkbox" checked="1" />
                </td>
                <td>
                    <div>
                        <img src="~/@item.MainPic">
                    </div>
                </td>
                <td>
                    <div>
                        <p>@item.ProductName</p>
                    </div>
                </td>
                <td>
                    @{
                        var temp = String.Format("{0:#,##0.##}", @item.ProductPrice);
                    }
                    <div class="gia">@temp VNĐ</div>
                </td>
                <td>
                    <div class="soluong">
                        <input id="number" type="number" value="@item.ProductAmount" min="1">
                    </div>
                </td>
                <td>
                    <div>
                        <button class="remove-product">
                            <i class="fa fa-trash"></i> Remove
                        </button>
                    </div>
                </td>
                <td>
                    @{ 
                        var total_product = @item.ProductPrice * item.ProductAmount;
                        var temp_total_product = String.Format("{0:#,##0.##}", total_product);
                    }
                    <div id="total" class="tongiga">@temp_total_product VNĐ</div>
                </td>
            </tr>
        }
        <!-- End Product -->

    </table>

    @{ 
        var total = @Model.Sum(t => t.ProductAmount * t.ProductPrice);
        var temp_total = String.Format("{0:#,##0.##}", total);

        var total_tax = total * 5 / 100;
        var temp_total_tax = String.Format("{0:#,##0.##}", total_tax);

        var total_cart = total + total_tax;
        var temp_total_cart = String.Format("{0:#,##0.##}", total_cart);
    }

    <div class="cart-result" style="margin-right: 300px">
        <div class="totals">
            <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">@temp_total VNĐ</div>
            </div>
            <div class="totals-item">
                <label>Tax (5%)</label>
                <div class="totals-value" id="cart-tax">@temp_total_tax VNĐ</div>
            </div>
            <div class="totals-item">
                <label>Shipping</label>
                <div class="totals-value" id="cart-shipping">Free Ship</div>
            </div>
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">@temp_total_cart VNĐ</div>
            </div>
        </div>
        <button class="cart-checkout"><i class="fas fa-hand-holding-usd"></i> Checkout</button>
    </div>
</div>
<div style="margin: 1000px"></div>

