@model TSP_Covid21.Models.ShopEntity.PRODUCT

<style>
    .table-wrapper {
        position: relative;
    }

    #table-scroll {
        height: 550px;
        overflow: auto;
    }

    #table-wrapper table {
        width: 70%;
        background: white;
        margin-left: 23.8%;
    }

    .tb_config th {
        position: sticky;
        top: 0px;
        background: #CCCCCC;
        z-index: 10;
        text-align: center;
    }

    .textarea {
        text-align: left;
    }

    .btn_Edit {
        border: none;
        color: white;
        background: #D10024;
        font-size: 20px;
    }

        .btn_Edit:hover {
            background: #FF0000;
        }
</style>

@{
    TSP_Covid21.Areas.Admin.Controllers.ProductManagerController HC = new TSP_Covid21.Areas.Admin.Controllers.ProductManagerController();
}

<table class="cus1">
    <tr>
        <th style="width: 50%;font-size: 25px;background: #d6dee9;" onclick="Functionclick1()" class="edit">
            Sửa thông tin
        </th>
        <th style="font-size: 25px;" onclick="Functionclick2()" class="btn_addConfig">
            <div>Chỉnh cấu hình</div>
        </th>
    </tr>
</table>

<div id="table1" style="background: red; width: 43%; margin-left: 28.5%">
    <table class="cus2">

        <tr>
            <th style="width:150px;">
                <label>Tên sản phẩm</label>
            </th>
            <td>
                <input type="text" name="ProductsName" id="edit_productName" value="@Model.PRODUCTNAME">
            </td>
        </tr>
        @{
            IEnumerable<TSP_Covid21.Models.ShopEntity.PRODUCTTYPE> listType = HC.loadType();
        }
        <tr>
            <th>
                <label>Loại</label>
            </th>
            <td>
                <select id="edit_productType">
                    @foreach (var item in listType)
                    {
                        if (item.PRODUCTTYPEID == Model.PRODUCTTYPEID)
                        {
                            <option value="@item.PRODUCTTYPEID" selected>@item.PRODUCTTYPENAME</option>
                        }
                        else
                        {
                            <option value="@item.PRODUCTTYPEID">@item.PRODUCTTYPENAME</option>
                        }
                    }
                </select>
            </td>
        </tr>
        @{
            IEnumerable<TSP_Covid21.Models.ShopEntity.BRAND> listBrand = HC.loadBrand();
        }
        <tr>
            <th>
                <label>Thương hiệu </label>
            </th>
            <td>
                <select id="edit_productBrand">
                    @foreach (var item in listBrand)
                    {
                        if (item.BRANDID == Model.BRANDID)
                        {
                            <option value="@item.BRANDID" selected>@item.BRANDNAME</option>
                        }
                        else
                        {
                            <option value="@item.BRANDID">@item.BRANDNAME</option>
                        }
                    }
                </select>

            </td>
        </tr>
        <tr>
            <th>
                <label class="picture">Hình</label>
            </th>
            <td>
                <div style="float: none;">
                    <label for="filebutton" id="upload-btn">
                        <span>
                            <i class="fas fa-folder-open " style="color:#fad859;"></i>
                            Open file
                        </span>
                    </label>
                    <input id="filebutton" name="Pic2" class="input-file" type="file" accept="image/*"
                           style="display: none" />
                </div>
                <div class="card-deck" id="appearPic">
                    <div>
                        <div class="card mb-4 pictureProduct" style="width: 104px;float: left;">
                            <figure class="snip0068 yellow">
                                <input type="text" value="@Model.MAINPIC" style="display: none" class="takePath" />
                                <img src="~/@Model.MAINPIC" alt="sample12" />
                                <figcaption>
                                    <div>
                                        <span class="removePic"><i class="far fa-trash-alt"></i> Remove</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-4 pictureProduct" style="width: 104px;float: left;">
                            <figure class="snip0068 yellow">
                                <input type="text" value="@Model.PIC1" style="display: none" class="takePath" />
                                <img src="~/@Model.PIC1" alt="sample12" />
                                <figcaption>
                                    <div>
                                        <span class="removePic"><i class="far fa-trash-alt"></i> Remove</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-4 pictureProduct" style="width: 104px;float: left;">
                            <figure class="snip0068 yellow">
                                <input type="text" value="@Model.PIC2" style="display: none" class="takePath" />
                                <img src="~/@Model.PIC2" alt="sample12" />
                                <figcaption>
                                    <div>
                                        <span class="removePic"><i class="far fa-trash-alt"></i> Remove</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-4 pictureProduct" style="width: 104px;float: left;">
                            <figure class="snip0068 yellow">
                                <input type="text" value="@Model.PIC3" style="display: none" class="takePath" />
                                <img src="~/@Model.PIC3" alt="sample12" />
                                <figcaption>
                                    <div>
                                        <span class="removePic"><i class="far fa-trash-alt"></i> Remove</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div>
                        <div class="card mb-4 pictureProduct" style="width: 104px;float: left;">
                            <figure class="snip0068 yellow">
                                <input type="text" value="@Model.PIC4" style="display: none" class="takePath" />
                                <img src="~/@Model.PIC4" alt="sample12" />
                                <figcaption>
                                    <div>
                                        <span class="removePic"><i class="far fa-trash-alt"></i> Remove</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <th>
                <label>Số lượng</label> <br>
            </th>
            <td>
                <input id="edit_productAmount" class="numberrit" type="number" value="@Model.PRODUCTAMOUNT" min="1">
            </td>
        </tr>
        <tr>
            <th>
                <label>Mô tả</label>
            </th>
            <td>
                <textarea class="textarea" id="edit_productDescription" name="Config">
                    @Model.DECRIPTION
                </textarea>
            </td>

        </tr>
        <tr>
            <th>
                <label>Trạng thái</label>
            </th>
            <td>
                <select id="edit_status">
                    @if (Model.STATUSPRODUCT == true)
                    {
                        <option value="true" selected>Hoạt động</option>
                        <option value="false">Ngưng hoạt động</option>
                    }
                    else
                    {
                        <option value="true">Hoạt động</option>
                        <option value="false" selected>Ngưng hoạt động</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <th style="width:150px;">
                <label>Giá</label>
            </th>
            <td>
                <input type="text" name="ProductPrice" id="edit_productPrice" value="@Model.PRODUCTPRICE">
            </td>
        </tr>
    </table>

</div>


<!-- ========================================================================================= -->
<div id="table2" style="display: none;background: white; width: 43%; margin-left: 28.5%">

    <div class="table-wrapper">
        <div id="table-scroll">
            <table class="table tb_config">
                <thead>
                    <tr>
                        <th>Tên thông số</th>
                        <th>Thông tin</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        IEnumerable<TSP_Covid21.Models.ShopEntity.CONFIG> listConfig = HC.loadConfig();
                    }
                    @foreach (var item in listConfig)
                    {
                        <tr>
                            <td style="text-align: center">@item.DECRIPTIONCONFIGNAME</td>
                            @{
                                var infConfig = @Model.CONFIGDETAILs.Where(p => p.CONFIGNAME == item.CONFIGNAME).Select(c => c.INFORMATION).FirstOrDefault();

                            }
                            <td>

                                <textarea class="textarea" id="product_description" name="Config">@infConfig</textarea>

                            </td>
                            <td style="text-align: center">
                                <div class="checkbox">
                                    @if (infConfig != null)
                                    {
                                        <input type="checkbox" id="click" checked="checked">
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="click">
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<input class="btn_Edit" type="button" value="Chỉnh sửa" style="margin-left: 61.5%; width: 10%" />

<script>
    // Chỉnh sửa thông tin sản phẩm
    $('.btn_Edit').click(function () {
        //thông tin sản phẩm
        var pic = document.getElementsByClassName("takePath");
        if (pic.length < 5) {
            alert("Vui lòng thêm đủ hình");
        } else {
            var productName = document.getElementById("edit_productName").value;
            var productType = document.getElementById("edit_productType").value;
            var brand = document.getElementById("edit_productBrand").value;
            var amount = document.getElementById("edit_productAmount").value;
            var description = $("#edit_productDescription").val();
            var status = document.getElementById("edit_status").value;
            var price = document.getElementById("edit_productPrice").value;
            var pic1 = pic[0].value;
            var pic2 = pic[1].value;
            var pic3 = pic[2].value;
            var pic4 = pic[3].value;
            var pic5 = pic[4].value;

            $.ajax({
                url: '@Url.Action("uptProduct", "ProductManager")',
                type: 'POST',
                data: {
                    id: @Model.PRODUCTID,
                    productName: productName,
                    productType: productType,
                    brand: brand,
                    amount: amount,
                    description: description,
                    status: status,
                    price: price,
                    pic1: pic1,
                    pic2: pic2,
                    pic3: pic3,
                    pic4: pic4,
                    pic5: pic5,
                },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("fail");
                },
            });
        } 
    });

    //Xóa ảnh
    $("body").on("click", ".removePic", function () {
        $(this).parent().parent().parent().parent().parent().remove();
    });

    //Up ảnh
    $("#filebutton").change(function (event) {

        var dem = document.getElementsByClassName("pictureProduct").length;

        var files = event.target.files;

        for (var i = 0; i < files.length && i < 5-dem; i++) {
            var file = files[i];
            var create = document.createElement("div");

            create.innerHTML = '<div class="card mb-4 pictureProduct" style="width: 104px; float: left;">' +
                                    '<figure class="snip0068 yellow">' +
                                        '<input type="text" value="Asset/images/iPhone/'+ file.name +'" style="display: none" class="takePath" />' +
                                        '<img src="/Asset/images/iPhone/' + file.name + '"/>' +
                                        '<figcaption> ' +
                                            '<div>' +
                                                '<span class="removePic"><i class="far fa-trash-alt"></i> Remove</span>' +
                                            '</div>' +
                                        '</figcaption>' +
                                    '</figure>' +
                                '</div>';

            $("#appearPic").prepend(create);
        }
    });
</script>