@model TSP_Covid21.Models.ShopEntity.PRODUCT

<table class="table" id="customers1">
    <tr>

        <th colspan="2" style="background: rgb(84 109 155);font-size: 20px;">PRODUCT</th>
    </tr>
    <tr>
        <th>ID</th>
        <td>@Model.PRODUCTID</td>
    </tr>
    <tr>
        <th>Tên sản phẩm</th>
        <td>@Model.PRODUCTNAME</td>

    </tr>
    <tr>
        <th>Thương hiệu</th>
        <td>@Model.BRAND.BRANDNAME</td>
    </tr>
    <tr>
        <th>Loại</th>
        <td>@Model.PRODUCTTYPE.PRODUCTTYPENAME</td>

    </tr>
    <tr>
        <th>
            Hình
        </th>
        <td>
            <div class="card-deck">
                <div class="card mb-4" style="width: 104px;float: left;">
                    <figure class="snip0068 yellow">
                        <img src="~/@Model.MAINPIC" alt="" style="width :100%; object-fit:contain"/>

                    </figure>
                </div>
                <div class="card mb-4" style="width: 104px;float: left;">
                    <figure class="snip0068 yellow">
                        <img src="~/@Model.PIC1" alt="" style="width :100%; object-fit:contain"/>

                    </figure>
                </div>
                <div class="card mb-4" style="width: 104px;float: left;">
                    <figure class="snip0068 yellow">
                        <img src="~/@Model.PIC2" alt="" style="width :100%; object-fit:contain"/>

                    </figure>
                </div>
                <div class="card mb-4" style="width: 104px;float: left;">
                    <figure class="snip0068 yellow">
                        <img src="~/@Model.PIC3" alt="" style="width :100px; object-fit:contain"/>

                    </figure>
                </div>
                <div class="card mb-4" style="width: 104px;float: left;">
                    <figure class="snip0068 yellow">
                        <img src="~/@Model.PIC4" alt="" style="width :100%; object-fit:contain"/>

                    </figure>
                </div>

            </div>
        </td>
    </tr>
    <tr>
        <th>Trang thái</th>
        @{
            var temp = "Hoạt động";
            if (Model.STATUSPRODUCT == false)
            {
                temp = "Ngưng hoạt động";
            }
        }
        <td>
            @temp
        </td>
    </tr>
    <tr>
        <th>Giá</th>
        @{
            var tempPrice = String.Format("{0:#,##0.##}", Model.PRODUCTPRICE);
            tempPrice += "đ";
        }
        <td>
            @tempPrice
        </td>
    </tr>
    <tr>
        <th>Đánh giá</th>

        <td>
            @Model.RATINGPRODUCTs.Count()
        </td>
    </tr>
    <tr>
        <th>Yêu thích</th>

        <td>
            @Model.ACCOUNTLIKEs.Count()
        </td>
    </tr>
    <tr>
        <th>Số lượng</th>
        <td>
            @Model.PRODUCTAMOUNT
        </td>
    </tr>
    <tr>
        <th>Mô tả</th>
        <td>
            @Model.DECRIPTION
        </td>
    </tr>
    <tr>
        <th>Ngày thêm</th>
        <td>
            @Model.DATEADD
        </td>
    </tr>
</table>