<!--
    ➠ Hiện danh sách sản phẩm theo theo loại sản phẩm         ✔

    ❦ Nơi sử dụng:
        ☞ Form Home ➧ thuộc Control Covid21

    ⛱ Form có thể đến
        ➣ Product
--> 

@model IEnumerable<TSP_Covid21.Models.ShopEntity.PRODUCT>

<div class="products-widget-slick" data-nav="#slick-nav-3">
    <div>
        @foreach (var item in Model)
        {

            <div class="product-widget">
                <div class="product-img">
                    <a href="@Url.Action("Product","Covid21",new { productId = item.PRODUCTID})">
                        <img src="~/@item.MAINPIC" alt="" style="width: 60px; height:60px; object-fit: contain">
                    </a>
                </div>
                <div class="product-body">
                    <p class="product-category">Thể loại</p>
                    <h3 class="product-name"><a href="@Url.Action("Product","Covid21",new { productId = item.PRODUCTID})">@item.PRODUCTNAME</a></h3>
                    @{
                        var temp = String.Format("{0:#,##0.##}", @item.PRODUCTPRICE);
                        temp += "đ";
                    }
                    <h4 class="product-price">@temp</h4>
                </div>
            </div>

        }

    </div>
</div>

