<!--
    ➠ Hiện thanh menu các loại sản phẩm                                      ✔

    ➠ Bấm vào loại sản phẩm ➔ đến categories thuộc loại sản phẩm bấm vào    ✔

    ❦ Nơi sử dụng:
        ☞ Form Home ➧ thuộc Control Covid21
        ☞ Form Product ➧ thuộc Control Covid21
        ☞ Form Cart ➧ thuộc Control Covid21

    ⛱ Form có thể đến
        ➣ Categories
-->
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="@Url.Action("Categories","Covid21", new { ProductTypeName = "SmartPhone" })"><i class="fa fa-mobile-phone"></i> Điện thoại</a></li>
                <li><a href="@Url.Action("Categories","Covid21", new { ProductTypeName = "Laptop" })"><i class="fa fa-laptop"></i> Laptop</a></li>
                <li><a href="@Url.Action("Categories","Covid21", new { ProductTypeName = "Tablet" })"><i class="fa fa-tablet"></i> Tablet</a></li>
                <li><a href="@Url.Action("Categories","Covid21", new { ProductTypeName = "HeadPhone" })"><i class="fa fa-headphones"></i> Tai nghe</a></li>
                <li><a href="@Url.Action("Categories","Covid21", new { ProductTypeName = "SmartWatch" })"><i class="fa fa-clock-o"></i> Đồng hồ</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
