@model IEnumerable<TSP_Covid21.Models.ShopEntity.PRODUCT>

@{ 
    var db_Ctrl = new TSP_Covid21.Controllers.ProductController();
}

@if (Model.Count() == 0)
{
    <div class="col-md-4 col-xs-6" style="margin-left: 42%;">
        (Không có sản phẩm)
    </div>
}

    <style>
        .table_config {
            position: absolute;
            margin-top: -250px;
            margin-left: 50px;
            z-index: 100;
            display: none;
        }
    </style>

    @foreach (var item in Model)
    {
        <!-- product -->
        <div class="col-md-4 col-xs-6" style="display: none">
            <div class="product">
                <div class="product-img">
                    <a href="@Url.Action("Product", "Covid21", new { productId = item.PRODUCTID })">
                        <img src="~/@item.MAINPIC" alt="" style="width: 263px; height: 263px; object-fit: contain">
                    </a>
                    <div class="product-label">

                        <span class="new">NEW</span>
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name"><a href="@Url.Action("Product", "Covid21", new { productId = item.PRODUCTID })">@item.PRODUCTNAME</a></h3>
                    @{
                        var temp = String.Format("{0:#,##0.##}", @item.PRODUCTPRICE);
                        temp += "đ";
                    }
                    <h4 class="product-price">@temp</h4>

                    <!-- rating product-->
                    @Html.Partial("Public_RatingProduct", db_Ctrl.loadRatingProduct(item.PRODUCTID))

                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="fa fa-heart" id="idheart"></i><span class="tooltipp">Thêm yêu thích</span></button>

                        <button class="quick-view" style=" display: inline-block">
                            <i class="fa fa-eye"></i><span class="tooltipp"></span>
                            <div class="table_config" style="color: black; z-index: 100">
                                @Html.Partial("Categories_TableConfig", item.CONFIGDETAILs)
                            </div>
                        </button>
                    </div>
                </div>
                <div class="add-to-cart">
                    <button class="add-to-cart-btn" onclick="addToCart(@item.PRODUCTID)"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        <!-- /product -->

    }
@if(Model.Count() > 6)
{
    <button class="loadMore">Tải thêm</button>
}
    
<script>
    $(".col-xs-6").slice(0, 6).show();
</script>

<script>
    $(".col-xs-6").slice(0, 6).show(); //hiện số lượng sản phẩm mặc định

    $(".loadMore").on("click", function () {
        $(".col-xs-6:hidden").slice(0, 6).show(); // số sản phẩm hiện lên sau khi bấm loadmore

        if ($(".col-xs-6:hidden").length == 0) {
            $(".loadMore").fadeOut(); //this will hide
            //button when length is 0
        }
    })
</script>

