
@{
    ViewBag.Title = "PersonalInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    TSP_Covid21.Controllers.Covid21Controller CC = new TSP_Covid21.Controllers.Covid21Controller();

    /*"Tris"*/
    TSP_Covid21.Models.ShopEntity.ACCOUNT loadPI = CC.loadPI(Session["user"].ToString());

    //Chỉnh radius giới tính
    string s = loadPI.SEX.ToString();
    if (s == "1")
    {
        s = "checked = \"checked\"";
    }

    // hiện ngày
    string d = loadPI.DATAOFBIRTH.ToString();
    //Loại bỏ các ký tự thừa đằng sau
    d = d.Remove(d.Length - 12);
    //Cắt ra lấy ngày tháng năm
    string Year = (d.Split('/')[2]);
    string Day = (d.Split('/')[1]);
    string Month = (d.Split('/')[0]);
    //nếu ngày không đủ 2 số thì thêm số 0 trước nó
    if (Day.Length == 1)
    {
        Day = "0" + Day;
    }
    if (Month.Length == 1)
    {
        Month = "0" + Month;
    }
    d = String.Format(Year.ToString() + "-" + Month.ToString() + "-" + Day, ToString());

}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Asset/css/slick.css" rel="stylesheet" />
    <link href="~/Asset/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Asset/css/slick-theme.css" rel="stylesheet" />
    <link href="~/Asset/css/nouislider.min.css" rel="stylesheet" />
    <link href="~/Asset/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Asset/css/style.css" rel="stylesheet" />
    <link href="~/Asset/css/persionalinformationStyle.css" rel="stylesheet" />
</head>

<body>
    <!-- /responsive-nav -->
    <!-- /container -->
    <!-- /NAVIGATION -->
    <!-- BREADCRUMB -->

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div id="aside" class="col-md-3">
                    <div class="aside">
                        <h3 class="aside-title">
                            <i class="fas fa-user" style="font-size: 50px;"></i> @loadPI.FULLNAME
                        </h3>
                        <div class="checkbox-filter">
                            <div class="container ggg">
                                <label for="" class="tablinks" onclick="openCity(event, 'banthongtincanhan')">
                                    <span></span>
                                    <a><i class="fas fa-user-cog"></i> Personal Information</a>
                                </label>
                            </div>
                            <div class="container ggg">
                                <label class="tablinks" onclick="openCity(event, 'diachigiaohang')">
                                    <span></span>
                                    <a><i class="fas fa-map-marker-alt"></i> Adress</a>
                                </label>
                            </div>
                            <div class="container ggg">
                                <label for="brand-2">
                                    <span></span>
                                    <a><i class="fas fa-shopping-cart"></i> My Cart</a>
                                </label>
                            </div>
                            <div class="container ggg">
                                <label>
                                    <span></span>
                                    <a><i class="fas fa-heart"></i> Like</a>
                                </label>
                            </div>
                            <div class="container ggg">
                                <label for="brand-4">
                                    <span></span>

                                    <a><i class="fas fa-eye"></i> Seen</a>
                                </label>
                            </div>
                            <div class="container ggg">
                                <label for="brand-4">
                                    <span></span>
                                    <a><i class="fas fa-star"></i> Rating</a>
                                </label>
                            </div>
                            <div class="container ggg">
                                <label for="brand-4" class="tablinks" onclick="openCity(event, 'donhangdamua')">
                                    <span></span>
                                    <a><i class="fas fa-book"></i> Purchased </a>
                                </label>
                            </div>
                            <div class="container ggg">
                                <label for="brand-4">
                                    <span></span>
                                    <a> <i class="far fa-times-circle"></i> Exit</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!--
                                    <div id="mainform"> -->

                    <h4 style="margin-top: 22px; margin-left: 15px; ">Individual information</h4><br>

                    <!--=================================================================-->

                    <div id="hienthongtin" style="position: absolute;margin-top: -10px;margin-left: 300px;">
                        <div id="banthongtincanhan" class="thongtincanhan">
                            <div>
                                <span></span>
                                <label for="">Full Name: </label>
                                <input id="id1" type="text" value="@loadPI.FULLNAME">
                            </div>
                            <div>
                                <span></span>
                                <label for="">Phone Number: </label>
                                <input id="id2" type="text" value="@loadPI.PHONENUMBER">
                            </div>
                            <div>
                                <span></span>
                                <label for="">Email: </label>
                                <input id="id3" type="text" placeholder="Input Email">
                            </div>

                            <div>
                                <label>
                                    Sex:
                                    <input id="id4" type="radio" checked="checked" name="radio"> <label>Male</label>
                                    <input id="id5" type="radio" @s name="radio"> <label>Female</label>
                                </label>
                            </div>
                            <div>
                                <span></span>
                                <label for="">Date Of Birth: </label>
                                <input id="id6" class="text1" type="date" value="@d">
                            </div>
                            <div>
                                <span></span>

                                <input id="id7" onclick="myFunction()" class="text1" type="checkbox">
                                <label for="">Change Password </label>
                            </div>
                            <div style="display: none;" id="passan">
                                <div>
                                    <span></span>
                                    <label for="">Password</label>
                                    <input id="id8" class="text1" type="text" placeholder="Reinput password">
                                </div>
                                <div>
                                    <span></span>
                                    <label for="">New Password</label>
                                    <input id="id9" class="text1" type="text" placeholder="Reinput new password">
                                </div>
                                <div>
                                    <span></span>
                                    <label for="">Confirm Password </label>
                                    <input id="id10" class="text1" type="text" placeholder="Reinput confirm password">
                                </div>
                            </div>
                            <div>
                                <span></span>
                                <input id="id11" class="text1" type="submit" value="Sent">
                            </div>
                        </div>
                        <div id="diachigiaohang" class="thongtincanhan" style="display: none;">
                            <div id="tatbangiaohang">
                                <div>
                                    <div>
                                        <span></span>
                                        <p id="id12" onclick="openthem()">
                                            <i style="color: yellowgreen;"
                                               class="fas fa-plus"></i> <b> Add Address</b>
                                        </p>
                                    </div>
                                </div>
                                <table>
                                    <tr>
                                        <th class="id13" style="width:  700px;">
                                            <label>Nguyễn hoàng trí</label><small>(Default Address)</small>
                                            <br><label>Long khánh</label><br>
                                            <label>Phone Number</label>

                                        </th>
                                        <td>
                                            <label class="id14" onclick="suathem()"> Change</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="id13" style="width:  700px;">
                                            <label>Nguyễn hoàng trí</label><small></small>
                                            <br><label>Long khánh</label><br>
                                            <label>Phone Number</label>
                                        </th>
                                        <td>
                                            <label class="id14" onclick="suathem()"> Change</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div style="display: none;" id="themthongtingiaohang">
                                <input class="thoat" onclick="tatthem()" value="✖" type="button">
                                <div>
                                    <span></span>
                                    <label for="">Full Name: </label>
                                    <input id="id15" type="text" placeholder="input full name">
                                </div>
                                <div>
                                    <span></span>
                                    <label for="">Phone Number: </label>
                                    <input id="id16" type="text" placeholder="input phone number">
                                </div>
                                <div>
                                    <span></span>
                                    <label for="">Province / City: </label>
                                    <select class="addr" id="province" none="province" onchange="changeFunc();"
                                            style="margin-left: 64px;">
                                        <option value="" selected>Province / City</option>
                                    </select>
                                </div>
                                <div>
                                    <span></span>
                                    <label for="">District: </label>
                                    <select class="addr" id="district" none="district" onchange="changeFuncDistrict();"
                                            style="margin-left: 117px;">
                                        <option value="" selected>District </option>
                                    </select>
                                </div>
                                <div>
                                    <span></span>
                                    <label for="">Wards:</label>
                                    <select class="addr" id="ward" none="ward" aria-placeholder="Quận Huyện;"
                                            style="margin-left: 124px;">
                                        <option value="" selected>Wards </option>
                                    </select>
                                </div>
                                <div>
                                    <span></span>
                                    <label for="">Address:</label>
                                    <textarea id="id20" name="" id="" cols="" rows="5"></textarea>
                                </div>
                                <div>
                                    <span></span>

                                    <input id="id22" class="text1" type="checkbox">
                                    <label for="">Set as default </label>
                                </div>
                                <div>
                                    <input id="id21" type="submit" onclick="okthem()">
                                </div>
                            </div>
                        </div>


                        <!--Sản phẩm yêu thích-->
			            <!--Sản phẩm đã xem-->
			            <!--Sản phẩm rating-->
			            <!-- Đơn hàng đã mua -->


                        <!-- Đơn hàng đã mua -->
                        @{
				            IEnumerable<TSP_Covid21.Models.ShopEntity.BILL> loadbill = CC.loadbill(Session["user"].ToString()/*"tris"*/);
			            }
                        <div id="donhangdamua" class="thongtincanhan" style="display: none;">
                            <table class="tabledg">
                                <tr style="background: rgb(67, 85, 94); color: white;">
                                    <th>
                                        <p class="tablea">Bill ID</p>
                                    </th>
                                    <th>
                                        <p class="tablea">Purchased Date</p>
                                    </th>
                                    <th>
                                        <p class="tablea">Products</p>
                                    </th>
                                    <th>
                                        <p class="tablea">Into Money</p>
                                    </th>
                                </tr>
                                @foreach (var item in loadbill)
                                {
                                    <tr class="hoverdonhang">
                                        <td>
                                            <p class="tableb">@item.BILLID</p>
                                        </td>
                                        <td>
                                            <p class="tableb">@item.DATECREATE</p>
                                        </td>
                                        @{
                                            var fullDeviceName = "";

                                            List<string> loadName = new List<string>();

                                            loadName = item.BILLDETAILs.Select(p => p.PRODUCT.PRODUCTNAME).ToList();

                                            foreach (var it in loadName)
                                            {
                                                fullDeviceName += it + ", ";
                                            }

                                            fullDeviceName = fullDeviceName.Substring(0, (fullDeviceName.Length - 2));
                                        }
                                        <td>
                                            <p class="tableb">@fullDeviceName</p>
                                        </td>
                                        @{
                                            var sumprice = item.BILLDETAILs.Sum(p => p.AMOUNT * p.PRODUCT.PRODUCTPRICE);
                                            var sum_total = String.Format("{0:#,##0.##}", sumprice);
                                            sum_total += "đ";
                                        }
                                        <td>
                                            <p class="tableb">@sum_total</p>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</body>


<!-- /SECTION -->


<link href="~/Asset/css/persionalinformationStyle.css" rel="stylesheet" />
<script src="~/Asset/JS/personal-information.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var province = document.getElementById("province");
        window.onload = function () {
            $.ajax({
                url: "https://dev-online-gateway.ghn.vn/shiip/public-api/master-data/province",
                headers: {
                    'token': "260fcbb6-d4ae-11eb-aa92-d25db748eae9",
                    'content-Type': 'application/json'
                },
                method: 'GET',
                dataType: 'json',
                success: function (response) {
                    var str = "<option selected>Province / City</option> ";
                    for (var i = 0; i < response.data.length; i++) {
                        str = str + "<option class = 'provinceID' data-province='" + response.data[i].ProvinceID + "'>" + response.data[i].ProvinceName + "</option> "
                    }
                    province.innerHTML = str;
                }
            });
        }
    }, false)
</script>

