@{
    TSP_Covid21.Areas.Admin.Controllers.ProductManagerController PMC = new TSP_Covid21.Areas.Admin.Controllers.ProductManagerController();
}

<style>
    .btn_Add {
        border: none;
        color: white;
        background: #D10024;
        font-size: 20px;
    }

        .btn_Add:hover {
            background: #FF0000;
        }
</style>

<div class="modal1-content" style="width: 43%; margin-left: 28.5%">

    <table class="cus2">
        <tr>
            <th colspan="2" style="background: rgb(58, 86, 119);">
                <div>
                    <h1>Thêm sản phẩm </h1>
                </div>

            </th>
        </tr>

        <tr>
            <th style="width:150px;">
                <label>Tên sản phẩm</label>
            </th>
            <td>
                <input type="text" name="ProductsName" id="add_productName" placeholder="tên sản phẩm...">
            </td>
        </tr>
        @{
            IEnumerable<TSP_Covid21.Models.ShopEntity.PRODUCTTYPE> listType = PMC.loadType();
        }
        <tr>
            <th>
                <label>Loại</label>
            </th>
            <td>
                <select id="add_productType">
                    @foreach (var item in listType)
                    {
                        <option value="@item.PRODUCTTYPEID">@item.PRODUCTTYPENAME</option>
                    }
                </select>
            </td>
        </tr>
        @{
            IEnumerable<TSP_Covid21.Models.ShopEntity.BRAND> listBrand = PMC.loadBrand();
        }
        <tr>
            <th>
                <label>Thương hiệu </label>
            </th>
            <td>
                <select id="add_productBrand">
                    @foreach (var item in listBrand)
                    {
                        <option value="@item.BRANDID">@item.BRANDNAME</option>
                    }
                </select>

            </td>
        </tr>
        <tr>
            <th>
                <label class="picture">Hình chính</label>
            </th>
            <td>
                <div style="float: none;">
                    <label for="filebutton" id="upload-btn">
                        <span>
                            <i class="fas fa-folder-open " style="color:#fad859;"></i>
                            Open file
                        </span>
                    </label>
                    <input id="Mainpic" name="Pic2" class="input-file" type="file" multiple accept="image/*"
                           style="display: none" />
                </div>
                <div class="card-deck" id="appearMainPic">

                </div>

            </td>
        </tr>
        <tr>
            <th>
                <label class="picture">Hình</label>
            </th>
            <td>
                <div style="float: none;">
                    <label for="filebutton" id="upload-btn">
                        <span>
                            <i class="fas fa-folder-open " style="color:#fad859;"></i>
                            Open file
                        </span>
                    </label>
                    <input id="filebutton" name="Pic2" class="input-file" type="file" multiple accept="image/*"
                           style="display: none" />
                </div>
                <div class="card-deck" id="appearPic">

                </div>

            </td>
        </tr>
        <tr>
            <th>
                <label>Số lượng</label> <br>
            </th>
            <td>
                <input id="add_productAmount" class="numberrit" type="number" min="1" value="100">
            </td>
        </tr>
        <tr>
            <th>
                <label>Mô tả</label>
            </th>
            <td>
                <textarea class="textarea" id="add_productDescription" name="Config" placeholder="mô tả sản phẩm..."></textarea>
            </td>

        </tr>
        <tr>
            <th style="width:150px;">
                <label>Giá</label>
            </th>
            <td>
                <input type="text" name="ProductPrice" id="add_productPrice" placeholder="giá sản phẩm...">
            </td>
        </tr>
    </table>
</div>

<input class="btn_Add" type="button" value="Thêm" style="margin-left: 61.5%; width: 10%" />

<!--Chỉnh sửa thông tin sản phẩm-->
<script>
    $('.btn_Add').click(function () {
        //thông tin sản phẩm
        var pic = document.getElementsByClassName("takePath");
        if (pic.length < 5) {
            alert("Vui lòng thêm đủ hình");
        } else {
            var productName = document.getElementById("add_productName").value;
            var productType = document.getElementById("add_productType").value;
            var brand = document.getElementById("add_productBrand").value;
            var amount = document.getElementById("add_productAmount").value;
            var description = $("#add_productDescription").val();
            var price = document.getElementById("add_productPrice").value;
            var pic1 = pic[0].value;
            var pic2 = pic[1].value;
            var pic3 = pic[2].value;
            var pic4 = pic[3].value;
            var pic5 = pic[4].value;

            $.ajax({
                url: '@Url.Action("addSP", "ProductManager")',
                type: 'POST',
                data: {
                    productName: productName,
                    productType: productType,
                    brand: brand,
                    amount: amount,
                    description: description,
                    price: price,
                    pic1: pic1,
                    pic2: pic2,
                    pic3: pic3,
                    pic4: pic4,
                    pic5: pic5,
                },
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("fail");
                },
            });
        }
    });
</script>

<script>
    //Xóa ảnh
    $("body").on("click", ".removePic", function () {
        $(this).parent().parent().parent().parent().parent().remove();
    });

    //Up ảnh
    $("#filebutton").change(function (event) {

        var dem = document.getElementsByClassName("pictureProduct").length;

        var files = event.target.files;

        for (var i = 0; i < files.length && i < 4 - dem; i++) {
            var file = files[i];
            var create = document.createElement("div");

            create.innerHTML = '<div class="card mb-4 pictureProduct" style="width: 104px; float: left;">' +
                '<figure class="snip0068 yellow">' +
                '<input type="text" value="Asset/images/' + file.name + '" style="display: none" class="takePath" />' +
                '<img src="/Asset/images/' + file.name + '"/>' +
                '<figcaption> ' +
                '<div>' +
                '<span class="removePic"><i class="far fa-trash-alt"></i> Remove</span>' +
                '</div>' +
                '</figcaption>' +
                '</figure>' +
                '</div>';

            $("#appearPic").prepend(create);
        }
    });

    //Up ảnh đại diện
    $("#filebutton").change(function (event) {

        var dem = document.getElementsByClassName("pictureProductMain").length;

        var files = event.target.files;

        for (var i = 0; i < files.length && i < 1 - dem; i++) {
            var file = files[i];
            var create = document.createElement("div");

            create.innerHTML = '<div class="card mb-4 pictureProductMain" style="width: 104px; float: left;">' +
                '<figure class="snip0068 yellow">' +
                '<input type="text" value="Asset/images/' + file.name + '" style="display: none" class="takePath" />' +
                '<img src="/Asset/images/' + file.name + '"/>' +
                '<figcaption> ' +
                '<div>' +
                '<span class="removePic"><i class="far fa-trash-alt"></i> Remove</span>' +
                '</div>' +
                '</figcaption>' +
                '</figure>' +
                '</div>';

            $("#appearMainPic").prepend(create);
        }
    });
</script>