
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Areas/Admin/Views/Shared/MainLayoutAdmin.cshtml";
}



<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper" style="min-height: 250px;" id="productManager">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <h2>
                DANH SÁCH SẢN PHẨM
            </h2>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12 container">
                <table id="example" class="table  table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr style="text-align: center; ">
                            <th style="font-size:15px;">ID</th>
                            <th style="font-size:15px;">Tên sản phẩm</th>
                            <th style="font-size:15px;">Thương hiệu</th>
                            <th style="font-size:15px;">Loại</th>
                            <th style="font-size:15px;">Hình</th>
                            <th style="font-size:15px;">Trạng thái</th>
                            <th style="font-size:15px;">Giá</th>
                            <th style="font-size:15px;">Đánh giá</th>
                            <th style="font-size:15px;">Số lượng</th>
                            <th style="font-size:15px;" class="add_Product">
                                <a>
                                    <i class="fas fa-plus-circle" style="color: #bcd451;"></i>
                                </a>
                            </th>
                            <th style="font-size:15px;" class="add_Product">
                                <a>
                                    <i  class="fas fa-plus-circle" style="color: #bcd451;"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    @{
                        TSP_Covid21.Areas.Admin.Controllers.ProductManagerController HC = new TSP_Covid21.Areas.Admin.Controllers.ProductManagerController();

                        IEnumerable<TSP_Covid21.Models.ShopEntity.PRODUCT> listProduct = HC.loadProduct();
                    }
                    <tbody>
                        @foreach (var item in listProduct)
                        {
                            <tr style="text-align: center;font-size: 13px;">
                                <td class="click_Product productId">@item.PRODUCTID</td>
                                <td class="click_Product">@item.PRODUCTNAME</td>
                                <td class="click_Product">@item.BRAND.BRANDNAME</td>
                                <td class="click_Product">@item.PRODUCTTYPE.PRODUCTTYPENAME</td>
                                <td class="click_Product">
                                    <img src="~/@item.MAINPIC" style="width: 50px; height: 50px; object-fit:contain" />
                                </td>
                                @{
                                    var temp = "Hoạt động";
                                    if (item.STATUSPRODUCT == false)
                                    {
                                        temp = "Ngưng hoạt động";
                                    }
                                }
                                <td class="click_Product statusProduct">@temp</td>
                                @{
                                    var tempPrice = String.Format("{0:#,##0.##}", item.PRODUCTPRICE);
                                    tempPrice += "đ";
                                }
                                <td class="click_Product">@tempPrice</td>
                                <td class="click_Product">@item.RATINGPRODUCT.Count()</td>
                                <td class="click_Product">@item.PRODUCTAMOUNT</td>
                                <td class="edit_Product"><i class="fas fa-edit"></i></td>
                                <td class="delete_product">
                                    <i class="fas fa-trash-alt" style="color: red;"></i></td>
                            </tr>
                        }

                    </tbody>
                </table>

                <div id="productDetail" class="modal" style="z-index: 50;">

                </div>
                <!-- them san pham-->

                <div id="AddProduct" class="modal" style="z-index: 50;">


                </div>
            </div>
            <!--cau hinh san pham-->
            <div id="EditProduct" class="modal" style="z-index: 50;">

            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->

@{ 
    var user = "temp";
    if(@Session["userAdmin"] != null)
    {
        user = Session["userAdmin"].ToString();
    }
}
<script>
    $(".click_Product").click(function () {
        var parent = $(this).parent();
        var id = $(parent).children(".productId").text();
        $.ajax({
            url: '@Url.Action("productDetail", "ProductManager")',
            type: 'POST',
            data: {
                id: id,
            },
            success: function (result) {
                $("#productDetail").css({ "display": "block" });
                $("#productDetail").html(result);
            },
            error: function () {
                alert("fail");
            }
        });
    });

    $(".delete_product").click(function () {
        var parent = $(this).parent();
        var id = $(parent).children(".productId").text();
        var status = $(parent).children(".statusProduct");
        $.ajax({
            url: '@Url.Action("delProduct", "ProductManager")',
            type: 'POST',
            data: {
                id: id,
            },
            success: function () {
                status.html("Ngưng hoạt động");
            }
        });
    });

    $(".edit_Product").click(function () {
        var parent = $(this).parent();
        var id = $(parent).children(".productId").text();
        $.ajax({
            url: '@Url.Action("editProduct", "ProductManager")',
            type: 'POST',
            data: {
                id: id,
            },
            success: function (result) {
                $("#EditProduct").css({ "display": "block" });
                $("#EditProduct").html(result);
            }
        });
    });

    $(".add_Product").click(function () {
        $.ajax({
            url: '@Url.Action("addProduct", "ProductManager")',
            type: 'POST',
            success: function (result) {
                $("#AddProduct").css({ "display": "block" });
                $("#AddProduct").html(result);
            }
        });
    });

    var start = {   
        loaddata: function () {
            if ('@user' == "temp") {
                
                
            } else {
                
                
            }
        },
    }
    start.loaddata();
</script>