<!--
    ➠ Hiện danh sách comment của sản phẩm

    ❦ Nơi sử dụng:
        ☞ Form Product ➧ thuộc Control Covid21

    ✹ Một số form share
        ➽ Product_ReviewRatingOfUser
-->

@model PagedList.IPagedList<TSP_Covid21.Models.ShopEntity.COMMENT>
@using PagedList.Mvc;

@{
    TSP_Covid21.Controllers.ProductController PC = new TSP_Covid21.Controllers.ProductController();
}

<div class="col-md-6">
    <div id="reviews">
        <ul class="reviews">

            @foreach (var item in Model)
            {
                <li>
                    <div class="review-heading">
                        <h5 class="name">@item.ACCOUNT.FULLNAME</h5>
                        <p class="date">@item.DATECOMMENT</p>
                        <div class="review-rating">

                            <!--Review rating of user-->
                            @Html.Partial("Product_ReviewRatingOfUser", PC.ReviewRatingOfUser(item.USER, Convert.ToInt32(item.PRODUCTID)))

                        </div>
                    </div>
                    <div class="review-body">
                        <p>@item.COMMENTTEXT</p>
                    </div>
                </li>
            }

        </ul>
        <ul class="reviews-pagination">
            @Html.PagedListPager(Model, page => Url.Action("Product_LoadComment", new { page }))
        </ul>
    </div>
</div>

