
@{
    ViewBag.Title = "CommentManager";
    Layout = "~/Areas/Admin/Views/Shared/MainLayoutAdmin.cshtml";

    TSP_Covid21.Areas.Admin.Controllers.CommentManagerController CC = new TSP_Covid21.Areas.Admin.Controllers.CommentManagerController();
}

<div class="page-wrapper" style="min-height: 250px;">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Danh sách bình luận</h4>
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12 container">
                <div class="white-box">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-7 col-sm-6">
                                <table id="comment" class="table table-hover" style="text-align: center;">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên người bình luận</th>
                                            <th>sản phẩm</th>
                                            <th>bình luận</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    @{ 
                                        var i = 0;
                                        var listComment = CC.listComment();
                                    }
                                    <tbody>
                                        @foreach (var item in listComment)
                                        {
                                        <tr>
                                            <td class="number">
                                                <input type="text" value="@item.COMMENTDATE" style="display: none" class="CommentDate" />
                                                <p class="numberid">@i</p>
                                            </td>
                                            @{
                                                i++;
                                            }
                                            <td class="CommentName">@item.NAME</td>
                                            <td class="ProductComment">@item.PRODUCTNAME</td>
                                            <td class="CommentText"><textarea>@item.COMMENTTEXT</textarea></td>
                                            <td class="delete_product click_ProductManager">
                                                <i class="fas fa-trash-alt" style="color: red;"></i>
                                            </td>
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="col-md-5 col-sm-6" style="background: rgb(241, 237, 237);">
                                <div class="container-fluid mt-3">
                                    <h4 class="mb-2">Khung trả lời bình luận</h4>
                                    <form>
                                        <div>
                                            <div>
                                                <label for="" class="labelbinhluan" id="">ID</label>
                                                <input type="text" class="form-control bluan" id="numberComment" placeholder="">
                                            </div>
                                            <div>
                                                <label for="" class="labelbinhluan" id="">Tên người bình luận</label>
                                                <input type="text" class="form-control bluan" id="CommentUser" placeholder="">
                                            </div>
                                        </div>
                                        <div>
                                            <label for="" class="labelbinhluan" id="">Tên sản phẩm</label>
                                            <input type="text" class="form-control bluan" id="Product" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label style="margin-left: 2px;" class="labelbinhluan">Bình Luận</label>
                                            <div class="bluan brbluan">
                                                <ul style="list-style-type:none;">

                                                    <li class="liuser">
                                                        <div class="media-body pad-hor">
                                                            <div class="speech">
                                                                <span id="textComment"></span>
                                                                <p id="dateComment"></p>
                                                            </div>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="text" class="form-control bluan" id="" placeholder="trả lời bình luận">
                                        </div>
                                        <button type="submit" class="btn btn-danger bluan"
                                                style="margin-bottom: 15px; margin-top: 15px;">
                                            Xác
                                            nhận
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</div>

<script>
    $(document).ready(function () {

        // Cấu hình các nhãn phân trang
        $('#comment').dataTable({
            "language": {
                "sProcessing": "Đang xử lý...",
                "sLengthMenu": "Xem _MENU_ mục",
                "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                "sInfoPostFix": "",
                "sSearch": "Tìm:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Đầu",
                    "sPrevious": "Trước",
                    "sNext": "Tiếp",
                    "sLast": "Cuối"
                }
            }
        });

    });
</script>

<!--Danh sách bình luận-->
<script>
    $(".number").click(function () {
        clickComment(this);
    });
    $(".CommentName").click(function () {
        clickComment(this);
    });
    $(".ProductComment").click(function () {
        clickComment(this);
    });
    $(".CommentText").click(function () {
        clickComment(this);
    });

    function clickComment(parameter) {
        var parent = $(parameter).parent();
        var no = $(parent).children().children(".numberid").text();
        no = no.replace(" ", "");
        var name = $(parent).children(".CommentName").text();
        var product = $(parent).children(".ProductComment").text();
        var text = $(parent).children(".CommentText").text();
        var date = $(parent).children().children(".CommentDate").val();

        $("#numberComment").val(no);
        $("#CommentUser").val(name);
        $("#Product").val(product);
        $("#textComment").html(text);
        $("#dateComment").html(date);
    }
</script>