<!--
    ✔ Load danh sách sản phẩm trong giỏ hàng

    ✔ Xóa sản phẩm trong danh sách giỏ hàng

    ✔ Thay đổi xóa lượng sản phẩm (Chưa lưu vào DB) ➔ Số tiền tự động thay đổi (Nếu số tiền bằng 0 ➔ nút Checkout tự ẩn)

    ✔ Trước mỗi sản phẩm cho nút checkbox để lựa chọn mua hay không

    ✔ Rê chuột vào hình ảnh ➔ tạo ra hình ảnh to hơn

    ✔ Bấm vào hình ảnh hoặc tên ➔ đến form Product

    ✘ Tích hợp Voucher vào lúc chuẩn bị thanh toán

    ✔ Bấm vào Checkout ➔ form checkout (form checkout hiện chưa có)

    ✹ Một số form share
        ➽ Public_Navigation

    ⛱ Form có thể đến
        ➣ Home
        ➣ Product
        ➣ CheckOut

    ☯ Key Session
        ➛ Session["user"]
-->

@model IEnumerable<TSP_Covid21.Models.ViewModel.ProductOfCartViewModel>

@{
    TSP_Covid21.Controllers.ProductController PC = new TSP_Covid21.Controllers.ProductController();
    var user = Session["user"];
}

@Html.Partial("Public_Navigation")
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section" style="padding: 10px 0px">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Home","Covid21")">Trang chủ</a></li>
                    <li class="active">Giỏ hàng</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="giohang" id="ajax_cart">
                <div class="cart">
                    <table class="cart-table">
                        <tr>
                            <th class="checkbox_cart"></th>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th class="edit_width_cart">Giá</th>
                            <th>Số lượng</th>
                            <th>Xóa</th>
                            <th class="edit_width_cart">Tổng</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr class="product_cart">
                                <td class="takeProductId" style="display: none">
                                    <a href="#">@item.ProductId</a>
                                </td>
                                <td class="checkbox_cart">
                                    <input class="checkbox_price_cart" type="checkbox" checked="@item.Status">
                                </td>
                                <td>
                                    <div class="image_product_cart">
                                        <a href="@Url.Action("Product","Covid21",new { productId = item.ProductId})">
                                            <img src="~/@item.MainPic">
                                        </a>
                                        <div class="img_zoom">
                                            <img src="~/@item.MainPic" style="width: 300px; height: 300px;">
                                        </div>
                                    </div>
                                </td>
                                <td class="edit_width_product_name_cart">
                                    <a href="@Url.Action("Product","Covid21",new { productId = item.ProductId})">@item.ProductName</a>
                                </td>
                                @{
                                    var temp = String.Format("{0:#,##0.##}", @item.ProductPrice);
                                    temp += "đ";
                                }
                                <td class="edit_width_cart">
                                    <label class="product_price_cart" style="font-weight: lighter;">@temp</label>
                                </td>
                                <td class="number_car">
                                    <input class="number_quantity_cart" type="number" value="@item.ProductAmount" min="1" style="width: 40px" max="25">
                                </td>
                                <td class="remove_cart">
                                    <button class="remove-product">
                                        <a href="@Url.Action("delProduct_Cart","Covid21",new {productId = item.ProductId, user = @user })" style="color: white"><i class="fa fa-trash"></i> Xóa SP</a>
                                    </button>
                                </td>
                                @{
                                    var temp1 = String.Format("{0:#,##0.##}", @item.ProductPrice * item.ProductAmount);
                                    temp1 += "đ";
                                }
                                <td class="edit_width_cart">
                                    <label class="product_line_price_cart" style="font-weight: lighter;">@temp1</label>
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                <!--
                @{
                    var total = @Model.Where(p => p.Status == true).Sum(t => t.ProductAmount * t.ProductPrice);
                    var temp_total = String.Format("{0:#,##0.##}", total);
                    temp_total += "đ";

                    var total_tax = total * 0.05;
                    var temp_total_tax = String.Format("{0:#,##0.##}", total_tax);
                    temp_total_tax += "đ";

                    var total_cart = total + total_tax;
                    var temp_total_cart = String.Format("{0:#,##0.##}", total_cart);
                    temp_total_cart += "đ";
                }
                -->

                <div class="payment_cart">
                    <table class="table_payment">
                        <tr>
                            <th>Tổng tiền</th>
                            <td class="totals_value" id="subtotal_cart">@temp_total</td>
                        </tr>
                        <tr>
                            <th>Thuế (5%)</th>
                            <td class="totals_value" id="tax_cart">@temp_total_tax</td>
                        </tr>
                        <tr>
                            <th>Vận chuyển</th>
                            <td class="totals_value" id="shipping_cart">Free Ship</td>
                        </tr>
                        <tr>
                            <th>Tổng cộng</th>
                            <td class="totals_value" id="total_cart">@temp_total_cart</td>
                        </tr>
                    </table>
                    <div style="margin-top: 20px; float: right;">
                        <a href="@Url.Action("CheckOut","Covid21",new { user = Session["user"]})">
                            <button class="checkout_cart"><i class="fas fa-hand-holding-usd"></i> Thanh toán</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->




<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>

    // Khi thay đổi checkbox thì productstatus trên csdl sẽ thay đổi theo
    $(".checkbox_price_cart").change(function () {
        $('#loading_web').show();
        var status = this.checked;
        var productRow = $(this).parent().parent();
        var productId = productRow.children(".takeProductId").children().text();
        var quantity = productRow.children(".number_car").children().val();

        $.ajax({
            url: '@Url.Action("change_CheckBox", "Product")',
            type: 'POST',
            data: {
                productId: productId,
                status: status,
                quantity: quantity,
            },
            success: function () {
                $('#loading_web').hide();
            },
            error: function () {
                alert('Click Slow! Please');
                $('#loading_web').hide();
            }
        });

    });

    // Khi thay đổi checkbox thì productstatus trên csdl sẽ thay đổi số lượng
    $(".number_quantity_cart").change(function () {
        $('#loading_web').show();
        var quantity = $(this).val();
        var productRow = $(this).parent().parent();
        var productId = productRow.children(".takeProductId").children().text();
        var status = productRow.children(".checkbox_cart").children(".checkbox_price_cart").is(":checked");
        if (status == true) {
            $.ajax({
                url: '@Url.Action("change_CheckBox", "Product")',
                type: 'POST',
                data: {
                    productId: productId,
                    status: status,
                    quantity: quantity,
                },
                success: function () {
                    $('#loading_web').hide();
                },
                error: function () {
                    alert('Click Slow! Please');
                    $('#loading_web').hide();
                }
            });
        }
    });

</script>