<!--

-->

@model IEnumerable<TSP_Covid21.Models.ViewModel.ProductOfCartViewModel>
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .doidiachigiaohang {
        color: rgb(0, 255, 13);
    }
</style>
@Html.Partial("Public_Navigation")
<!-- BREADCRUMB --><!--Đường dẫn-->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- <h3 class="breadcrumb-header">Checkout</h3> -->
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Home","Covid21")">Trang chủ</a></li>
                    <li><a href="@Url.Action("Cart","Covid21", new { user = Session["user"] })">Giỏ hàng</a></li>
                    <li class="active">Thanh toán</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row" id="confirmBill">
            @{
                TSP_Covid21.Controllers.AccountController AC = new TSP_Covid21.Controllers.AccountController();
                IEnumerable<TSP_Covid21.Models.ShopEntity.ADDRESS_SHIP> addressDefault = AC.addressDefault(Session["user"].ToString());
            }
            <div class="col-md-7">
                <!-- Billing Details --> <!--Địa chỉ thanh toán--><!--Cần trí chỉnh lại đoạn văn-->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Địa chỉ nhận</h3>
                        <a href="@Url.Action("Personal","Covid21",new { user = Session["user"], code = 2})" class="doidiachigiaohang" style="margin-left: 40%;font-size: 15px;"><i class="fas fa-plus"></i> Thay đổi địa chỉ</a>
                    </div>
                    @foreach (var item in addressDefault)
                    {
                        <div class="form-group">
                            <input class="input" type="text" name="first-name" placeholder="Họ và tên" value="@item.FULLNAME" disabled>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="address" placeholder="Địa chỉ" value="@item.ADDRESS" disabled>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="Thành phố / Tỉnh" value="@item.CITY" disabled>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="Quận / Huyện" value="@item.DISTRICT" disabled>
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" name="city" placeholder="Phường / Xã" value="@item.WARDS" disabled>
                        </div>
                        <div class="form-group">
                            <input class="input" type="tel" name="tel" placeholder="Số điện thoại" value="@item.PHONE" disabled>
                        </div>
                    }
                </div>
                <!-- /Billing Details -->
                <!-- Shiping Details --><!--Chuyển cho người khác-->
                <div class="shiping-details">
                    <div class="section-title">
                        <h3 class="title">Địa chỉ khác</h3>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="shiping-address">
                        <label for="shiping-address">
                            <span></span>
                            Bạn muốn giao ở địa chỉ khác?
                        </label>
                        <!-- Hiện 1 list địa chỉ khác-->
                        <div class="caption">
                            @{
                                IEnumerable<TSP_Covid21.Models.ShopEntity.ADDRESS_SHIP> listAddress = AC.loadAddress(Session["user"].ToString());
                            }
                            <div style="height: 280px; overflow-y: scroll;">
                                <table>
                                    @if (listAddress.Count() == 0)
                                    {
                                        <tr style="text-align:center">(Chưa có địa chỉ giao hàng)</tr>
                                    }
                                    @foreach (var item in listAddress)
                                    {
                                        <tr>
                                            <th class="id13" style="width:  700px;">
                                                <input type="text" value="@item.ADDRESSID" style="display: none" class="addressId" />

                                                @if (@item.DEFAULT == true)
                                                {
                                                    <label>@item.FULLNAME</label><small>(Địa chỉ mặc định)</small>
                                                }
                                                else
                                                {
                                                    <label>@item.FULLNAME</label>
                                                }
                                                <br><label>@item.ADDRESS</label><br>
                                                <label>@item.PHONE</label>

                                            </th>
                                            <td>
                                                <label class="id14"> Chỉnh sửa</label>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Shiping Details -->
                <!-- Order notes -->
                <div class="order-notes">
                    <textarea id="noteBill" class="input" placeholder="Ghi chú"></textarea>
                </div>
                <!-- /Order notes -->
            </div>

            <!-- Order Details --><!--Phiếu thanh toán--> <!--Cần trí chỉnh lại đoạn văn-->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Đơn hàng</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>Sản phẩm</strong></div>
                        <div><strong>Tổng tiền</strong></div>
                    </div>
                    <div class="order-products">

                        @foreach (var item in Model)
                        {
                            <div class="order-col">
                                @{
                                    var temp = item.ProductAmount + "x";
                                }
                                <div>@temp @item.ProductName</div>
                                @{
                                    var temp1 = String.Format("{0:#,##0.##}", @item.ProductPrice * item.ProductAmount);
                                    temp1 = temp1.Replace(".", ",");
                                    temp1 += "đ";
                                }
                                <div>@temp1</div>
                            </div>
                        }

                    </div>
                    <!--
                    @{
                        var total = @Model.Where(p => p.Status == true).Sum(t => t.ProductAmount * t.ProductPrice);
                        var temp_total = String.Format("{0:#,##0.##}", total);
                        temp_total = temp_total.Replace(".", ",");
                        temp_total += "đ";

                        var total_tax = total * 0.05;
                        var temp_total_tax = String.Format("{0:#,##0.##}", total_tax);
                        temp_total_tax = temp_total_tax.Replace(".", ",");
                        temp_total_tax += "đ";

                        var total_cart = total + total_tax;
                        var temp_total_cart = String.Format("{0:#,##0.##}", total_cart);
                        temp_total_cart = temp_total_cart.Replace(".", ",");
                        temp_total_cart += "đ";
                    }
                    -->
                    <div class="order-col">
                        <div>Tổng tiền</div>
                        <div><strong>@temp_total</strong></div>
                    </div>
                    <div class="order-col">
                        <div>Vận chuyển</div>
                        <div><strong>FREE SHIP</strong></div>
                    </div>
                    <div class="order-col">
                        <div>Thuế(5%)</div>
                        <div><strong>@temp_total_tax</strong></div>
                    </div>
                    <div class="order-col">
                        <div><strong>Tổng đơn hàng</strong></div>
                        <div><strong class="order-total">@temp_total_cart</strong></div>
                    </div>
                </div>

                <a href="#" class="primary-btn order-submit" id="create_bill">Đặt hàng</a>
            </div>
            <!-- /Order Details -->
        </div>

        <div class="row" id="payment" style="display: none">
            <ul>
                <li>
                    <label>
                        <input type="radio" name="methods" value="0" checked/>
                        Thanh toán khi nhận hàng
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="methods" value="1" />
                        Thanh toán bằng ví điện tử
                    </label>


                </li>
            </ul>

            <input id="btn_payment" type="button" value="Thanh toán" />
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- dùng sử dụng $ -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<!--Confirm bill-->
<script>
    var start = {
        loadData: function () {
            var input = document.getElementsByClassName("input");
            for (var i = 0; i < input.length; i++) {
                input[i].disable = false;
            }
        }
    }
    start.loadData();

    $("#create_bill").click(function () {
        var add = @addressDefault.Count();
        var quantity = @Model.Count();

        if (add != 0 && quantity != 0) {
            $("#confirmBill").css({ "display": "none" });
            $("#payment").css({ "display": "block" });
        } else if (quantity == 0) {
            alert("Vui lòng chọn hàng để thanh toán");
        } else {
            alert("Vui lòng thêm địa chỉ nhận hàng");
        }
    });
</script>

<!--Payment Methods-->
<script>
    $("#btn_payment").click(function () {
        var note = $("#noteBill").val();
        var total = @total_cart;
        $("#loading_web").show();
        $.ajax({
            url: '@Url.Action("insertBill", "Product")',
            type: "POST",
            data: {
                note: note,
                total: total,
            },
            success: function (result) {
                $("#loading_web").hide();
                if (result != 'True') {
                    alert(result);
                }
                else {
                    alert("Đã đặt hàng thành công, vui lòng kiểm tra email");
                    location.reload();
                }
            },
            error: function () {
                alert("fail");
                $("#loading_web").hide();
            }
        });
    })
</script>