<!--
    ✔ Load ra toàn bộ sản phẩm yêu thích

    ✔ Bấm vào "Add To Cart" ➔ thêm vào giỏ hàng

    ✘ Bấm vào "Add To Wishlist" ➔ thêm vào danh sách yêu thích

    ✹ Một số form share
        ➽ Public_RatingProduct

    ⛱ Form có thể đến
        ➣ Home
        ➣ Product

    ☯ Key Session
        ➛ Session["user"]
-->

@model IEnumerable<TSP_Covid21.Models.ViewModel.ProductViewModel>
@{
    ViewBag.Title = "Favourite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    TSP_Covid21.Controllers.ProductController PC = new TSP_Covid21.Controllers.ProductController();
    var user = Session["user"];
}

@Html.Partial("Public_Navigation")
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Home","Covid21")">Trang chủ</a></li>
                    <li><a href="@Url.Action("Personal","Covid21", new { user = Session["user"], code = 1})">Thông tin cá nhân</a></li>
                    <li class="active">Yêu thích</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div style="background: rgb(242, 242, 243);width: 74%; margin-left: 190px;margin-top: 20px;">
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                @foreach (var item in Model)
                {
                    <div style="float: left; margin-left: 20px;">
                        <div class="product" style="width: 200px; margin-bottom: 80px;">
                            <div class="product-img">
                                <a href="@Url.Action("Product","Covid21",new { productId = item.ProductId})">
                                    <img src="~/@item.MainPic" alt="" style="width: 200px; height:200px; object-fit: contain">
                                </a>
                                <div class="product-label">
                                    @if (item.Status == false || item.ProductAmount < 1)
                                    {
                                        <span class="new">Ngưng kinh doanh</span>
                                    }
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Thể loại</p>
                                <h3 class="product-name" style="height: 20px"><a ref="@Url.Action("Product","Covid21",new { productId = item.ProductId})">@item.ProductName</a></h3>
                                @{
                                    var temp = String.Format("{0:#,##0.##}", item.ProductPrice);
                                    temp = temp.Replace(".", ",");
                                    temp += "đ";
                                }
                                <h4 class="product-price">@temp</h4>

                                <!-- rating product-->
                                @Html.Partial("Public_RatingProduct", PC.loadRatingProduct(item.ProductId))

                                <div class="product-btns">
                                    <button class="add-to-wishlist">
                                        <i class="fa fa-heart" style="color: red;"></i>
                                    </button>
                                    <button class="quick-view">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            @if(item.Status == true && item.ProductAmount > 0)
                            {
                                <div class="add-to-cart">
                                    <input type="text" value="@item.ProductId" class="productId" style="display: none" />
                                    <button class="add-to-cart-btn addToCart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
                                </div>
                            }
                            
                        </div>
                    </div>
                }
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
</div>