<!--
    ✔ Load Rating của sản phẩm, số lường đánh giá rating

    ✔ Load mô tả của sản phẩm

    ✔ Load ra 1 bảng cấu hình của sản phẩm

    ✔ Load ra danh sách Comment và phân trang danh sách

    ✔ Đánh giá được sản phẩm
        ✈ Khi khách hàng chưa đăng nhập ➔ hệ thống thông báo đăng nhập (Cách hiện thông báo nên xem lại)
        ✈ Khi khách hàng đã đăng nhập ➔ có thể Comment và Rating sản phẩm

    ✔ Load ra 4 sản phẩm liên quan
        ✈ Có thể thêm sản phẩm vào giỏi hàng
        ✈ Có thể xem chi tiết bằng cách chọn hình ảnh hoặc tên sản phẩm

    ✔ Bấm vào "Add To Cart" ➔ thêm vào giỏ hàng

    ✘ Bấm vào "Add To Wishlist" ➔ thêm vào danh sách yêu thích

    ✘ Tuy phân trang Comment nhưng chỉ xem được trang đầu tiên, không xem được các trang sau

    ✹ Một số form share
        ➽ Public_Navigation
        ➽ Public_RatingProduct
        ➽ Public_ShareProduct
        ➽ LoginAndLogout
        ➽ Product_TableConfig
        ➽ Product_ReviewRatingOfUser
        ➽ Product_LoadComment

    ⛱ Form có thể đến
        ➣ Home
        ➣ Categories (củ: Store)

    ☯ Key Session
        ➛ Session["user"]
        ➛ Session["fullname"]
        ➛ Session["gmail"]

-->

@model TSP_Covid21.Models.ShopEntity.PRODUCT

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    TSP_Covid21.Controllers.ProductController PC = new TSP_Covid21.Controllers.ProductController();

    var FullName = Session["fullname"];
    var Gmail = Session["gmail"];
}

@Html.Partial("Public_Navigation")
<!-- BREADCRUMB --><!--đường dẫn--><!--chú ý coi nha-->
<div id="breadcrumb" class="section" style="padding: 10px 0px">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Home","Covid21")">Trang chủ</a></li>
                    @if (Model.PRODUCTTYPE.PRODUCTTYPENAME.Equals("Điện thoại"))
                    {
                        <li><a href="@Url.Action("Categories","Covid21", new { ProductTypeName = "Điện thoại" })">Điện thoại</a></li>
                    }
                    @if (Model.PRODUCTTYPE.PRODUCTTYPENAME.Equals("Laptop"))
                    {
                        <li><a href="@Url.Action("Categories","Covid21", new { ProductTypeName = "Laptop" })">Laptop</a></li>
                    }
                    @if (Model.PRODUCTTYPE.PRODUCTTYPENAME.Equals("Tablet"))
                    {
                        <li><a href="@Url.Action("Categories","Covid21", new { ProductTypeName = "Tablet" })">Tablet</a></li>
                    }
                    @if (Model.PRODUCTTYPE.PRODUCTTYPENAME.Equals("Đồng hồ"))
                    {
                        <li><a href="@Url.Action("Categories","Covid21", new { ProductTypeName = "Đồng hồ" })">Đồng hồ</a></li>
                    }
                    @if (Model.PRODUCTTYPE.PRODUCTTYPENAME.Equals("Tai nghe"))
                    {
                        <li><a href="@Url.Action("Categories","Covid21", new { ProductTypeName = "Tai nghe" })">Tai nghe</a></li>
                    }
                    <li class="active">@Model.BRAND.BRANDNAME</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION --> <!--xem sản phẩm-->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">

                    <!--Nếu được thì tạo thêm 1 bảng hình dành cho sản phẩm để có thể tự động load, không cần xét từng bức-->
                    <div class="product-preview">
                        <img src="~/@Model.MAINPIC" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/@Model.PIC1" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/@Model.PIC2" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/@Model.PIC3" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/@Model.PIC4" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="~/@Model.MAINPIC" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/@Model.PIC1" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/@Model.PIC2" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/@Model.PIC3" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/@Model.PIC4" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.PRODUCTNAME</h2>

                    <!--Rating of product-->
                    @Html.Partial("Public_RatingProduct", PC.loadRatingProduct(Model.PRODUCTID))

                    <div>
                        @{
                            var temp = String.Format("{0:#,##0.##}", Model.PRODUCTPRICE);
                        }
                        <h3 class="product-price">@temp đ</h3>
                        @if (Model.PRODUCTAMOUNT <= 0)
                        {
                            <span class="product-available">Hết hàng</span>
                        }
                        else
                        {
                            <span class="product-available">Còn hàng</span>
                        }
                    </div>
                    <p></p>

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Qty
                            @if (Model.PRODUCTAMOUNT <= 0)
                            {
                                <div class="input-number">
                                    <input id="quantity_Product" type="number" value="0" min="0" max="0" disabled>
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            }
                            else if (Model.PRODUCTAMOUNT < 26)
                            {
                                <div class="input-number">
                                    <input id="quantity_Product" type="number" value="1" min="1" max="@Model.PRODUCTAMOUNT" disabled>
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            }
                            else
                            {
                                <div class="input-number">
                                    <input id="quantity_Product" type="number" value="1" min="1" max="25" disabled>
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            }
                        </div>
                
                        <button class="add-to-cart-btn " id="addToCartWithAmount"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</button>
                    </div>

                    <ul class="product-btns">

                        <li>
                   
                            <a class="add-to-wishlist" onclick="addFavourite(@Model.PRODUCTID)"><i class="fa fa-heart" id="idheart"></i> Thêm yêu thích</a>
                        </li>
                    </ul>

                    <ul class="product-links">
                        <li>Thể loại:</li>
                        <li><a href="#">@Model.PRODUCTTYPE.PRODUCTTYPENAME</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->
            <!--Source load rating of product-->
            <!--
            @{
                IEnumerable<TSP_Covid21.Models.ShopEntity.RATINGPRODUCT> listRating = PC.loadRatingProduct(Model.PRODUCTID);

                var sumRating = listRating.Sum(p => p.RATE);
                var countTotal = listRating.Count();
                var countRating_1 = listRating.Count(p => p.RATE < 2 && p.RATE >= 1);
                var countRating_2 = listRating.Count(p => p.RATE < 3 && p.RATE >= 2);
                var countRating_3 = listRating.Count(p => p.RATE < 4 && p.RATE >= 3);
                var countRating_4 = listRating.Count(p => p.RATE < 5 && p.RATE >= 4);
                var countRating_5 = listRating.Count(p => p.RATE == 5);

                float ratioRating = 0;
                if(sumRating > 0)
                {
                    ratioRating = float.Parse(String.Format("{0:0.0}", (sumRating / countTotal)));
                }

                float ratioRating_1 = (countRating_1 / (float)countTotal) * 100;
                float ratioRating_2 = (countRating_2 / (float)countTotal) * 100;
                float ratioRating_3 = (countRating_3 / (float)countTotal) * 100;
                float ratioRating_4 = (countRating_4 / (float)countTotal) * 100;
                float ratioRating_5 = (countRating_5 / (float)countTotal) * 100;

            }
            -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Mô tả</a></li>
                        <li><a data-toggle="tab" href="#tab2">Chi tiết</a></li>
                        <li><a data-toggle="tab" href="#tab3">Đánh giá (@countTotal)</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        @Model.DECRIPTION
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <!--table Config Product-->
                        @Html.Partial("Product_TableConfig", PC.loadConfigProduct(Model.PRODUCTID))

                        <!-- /tab2  -->
                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->

                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>@ratioRating</span>
                                            <div class="rating-stars">
                                                <!-- Load tỉ lệ đánh giá của tất cả khách hàng đã đánh giá-->
                                                @Html.Partial("Product_ReviewRatingOfUser", ratioRating)
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: @ratioRating_5%;"></div>
                                                </div>
                                                <span class="sum">@countRating_5</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: @ratioRating_4%;"></div>
                                                </div>
                                                <span class="sum">@countRating_4</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: @ratioRating_3%;"></div>
                                                </div>
                                                <span class="sum">@countRating_3</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: @ratioRating_2%;"></div>
                                                </div>
                                                <span class="sum">@countRating_2</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: @ratioRating_1%;"></div>
                                                </div>
                                                <span class="sum">@countRating_1</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->
                                <!-- Reviews -->
                                <!-- Review Product -->
                                <div class="col-md-6" id="commentBorder">
                                    @Html.Partial("Product_LoadComment", Model.COMMENT)
                                </div>
                                <!-- /Reviews -->
                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">
                                        <form class="review-form">
                                            <input class="input" type="text" placeholder="Tên của bạn" value="@FullName">
                                            <input class="input" type="email" placeholder="Email của bạn" value="@Gmail">
                                            <textarea id="comment_User" class="input" placeholder="Ý kiến về sản phẩm"></textarea>
                                            <div class="input-rating">
                                                <span>Đánh giá: </span>
                                                <div class="stars">
                                                    <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                                    <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                                    <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                                    <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                                    <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                                </div>
                                            </div>
                                            <button id="btn_commentproduct" type="button" class="primary-btn">Đăng</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                                <!-- Function insert sao -->
                            </div>
                        </div>
                        <!-- /tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- Section --><!--những sản phẩm tương tự-->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Sản phẩm liên quan</h3>
                </div>
            </div>

            @{
                int productTypeId = Convert.ToInt32(Model.PRODUCTTYPEID);
                int brandId = Convert.ToInt32(Model.BRANDID);
                IEnumerable<TSP_Covid21.Models.ShopEntity.PRODUCT> listRelated = PC.loadRelatedProduct(productTypeId, brandId);
            }
            @foreach (var item in listRelated)
            {
                <!-- product -->
                <div class="col-md-3 col-xs-6">

                    @Html.Partial("Public_shareProduct", item);

                </div>
                <!-- /product -->
            }

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
    var modal = document.getElementById('id01_login');
    var tempUser = '@Session["user"]';

    //Dùng lúc bấm submit rating và comment kiểm tra xem đăng nhập chưa, khi đăng nhập thì up rating và comment lên
    $("#btn_commentproduct").click(function () {
        var value, Comment;

        // tại sao lại so sánh admin thì do truyền Session vào khi chưa có user thì bị lỗi nên ban đầu gắn bằng admin để xác định chưa có user đăng nhập
        if (tempUser == null || tempUser == "") {
            modal.style.display = "block";
        } else {
            $("#loading_web").show();
            value = $("input:radio[name=rating]:checked").val();
            Comment = $('#comment_User').val();
            $.ajax({
                url: '@Url.Action("insert_RatingAndComment", "Product")',
                type: 'POST',
                async: false,
                cache: false,
                data: {
                    productId: @Model.PRODUCTID,
                    user: tempUser,
                    rate: value,
                    comment: Comment
                },
                success: function () {

                    $.ajax({
                        url: '@Url.Action("listComment", "Product")',
                        type: 'POST',
                        data: {
                            productId: @Model.PRODUCTID,
                        },
                        success: function (result) {
                            $("#loading_web").hide();
                            $("#commentBorder").html(result);
                            var comment = document.getElementsByClassName('btn_page');
                            $(comment[0]).css({ "border-color": "#D10024" });
                        },
                    });

                    $.ajax({
                        url: '@Url.Action("listRating", "Product")',
                        type: 'POST',
                        data: {
                            productId: @Model.PRODUCTID,
                        },
                        success: function (result) {
                            $("#loading_web").hide();
                            $("#rating").html(result);
                        },
                    });

                },
                error: function () {
                    $("#loading_web").hide();
                }
            });
        }
    });
</script>

<script>
    var modal = document.getElementById('id01_login');
    var tempUser = '@Session["user"]';

    $("#addToCartWithAmount").click(function () {
        $("#loading_web").show();
        var Amount = $('#quantity_Product').val();
        let cart = $(".myCart");
        let imgtodrag = $(this).parent().parent().parent().parent().find("img").eq(0);
        if (tempUser == null || tempUser == "") {
            $("#loading_web").hide();
            modal.style.display = "block";
        } else {
            $.ajax({
                url: '@Url.Action("insertCartWithAmount", "Product")',
                type: 'POST',
                async: false,
                cache: false,
                data: {
                    productId: @Model.PRODUCTID,
                    user: tempUser,
                    amount: Amount
                },
                success: function (result) {
                    $("#loading_web").hide();

                    if (imgtodrag) {
                        // duplicate the img
                        var imgclone = imgtodrag.clone().offset({
                            top: imgtodrag.offset().top,
                            left: imgtodrag.offset().left
                        }).css({
                            'opacity': '0.8',
                            'position': 'absolute',
                            'height': '150px',
                            'width': '150px',
                            'z-index': '100'
                        }).appendTo($('body')).animate({
                            'top': cart.offset().top + 7,
                            'left': cart.offset().left + 47,
                            'width': 75,
                            'height': 75
                        }, 1000, 'easeInOutExpo');

                        imgclone.animate({
                            'width': 0,
                            'height': 0
                        }, function () {
                            $(this).detach()
                        });
                    }

                    setTimeout(function () {
                        $("#MyListProduct").html(result)
                    }, 1500);
                },
                error: function () {
                    $("#loading_web").hide();
                }
            });
        }
    });
    //-Dùng add sản phẩm vào cart, nhưng add với 1 số lương(khác hàm ở ngoài _layout)/
</script>